{% extends 'main/base.html' %}

{% block title %}Edit a blog{% endblock title %}

{% block content %}
<div class="w-max sm:max-w-6xl mx-auto border p-4">
    <h1 class='text-3xl text-center'>Edit a blog!</h1>
    <div class='flex justify-center pb-8'>
        <a href="/" class='text-blue-500 text-xs underline mr-2'>#home</a>
        <a href="{% url 'blogs:blogs-explore' %}" class='text-blue-500 text-xs underline mr-2'>#explore-more</a>

        {% include 'blogs/login_nav.html' %}
    </div>

    {% load myfilters %}
    <form method="POST">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {% comment %} <div class='flex items-center justify-center p-2'>
            {{ form.creator.label_tag }}
            {{ form.creator|addclass:"border" }}
        </div>
        <div class='text-red-500 text-center p-1 m-1'>
            {{ form.creator.errors }}
        </div> {% endcomment %}
        <div class='flex items-center justify-center p-2'>
            {{ form.category.label_tag }}
            {{ form.category|addclass:"h-16 border"}}
        </div>
        <div class='text-red-500 text-center p-1 m-1'>
            {{ form.category.errors }}
        </div>
        <div class='flex items-center justify-center p-2'>
            {{ form.name.label_tag }}
            {{ form.name|addclass:"border px-2 my-2" }}
        </div>
        <div class='text-red-500 text-center p-1 m-1'>
            {{ form.name.errors }}
        </div>
        <div class='flex items-center justify-center p-2'>
            {{ form.description.label_tag }}
            {{ form.description|addclass:"border px-2 my-2" }}
        </div>
        <div class='text-red-500 text-center p-1 m-1'>
            {{ form.description.errors }}
        </div>
        <input type="submit" class='my-2 p-2 bg-blue-500 text-white rounded-md' value="Edit">
    </form>
</div>
{% endblock content %}